.navbar {
    position: sticky;
    top: 0;
  }

  
  header {
    background-color: white;
    
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 999;
  }


.dropdown-menu-first {
  position: absolute;
  width: 568px;
  max-width: 90vw; /* Responsive width */
  height: 360px;
  top: 100%; /* Position below the dropdown trigger */
  background: white;
  box-shadow: 2px 3px 5px #999;;
}
.dropdown-menu-two {
  position: absolute;
  width: 474px;
  max-width: 90vw; /* Responsive width */
  height: 360px;
  top: 100%; /* Position below the dropdown trigger */
  background: white;
  box-shadow: 2px 3px 5px #999;;
}
.dropdown-menu-three{
  position: absolute;
  width: 474px;
  left: 240px;
  max-width: 90vw; /* Responsive width */
  height: 234px;
  top: 100%; /* Position below the dropdown trigger */
  background: white;
  box-shadow: 2px 3px 5px #999;;
}

@media screen and (min-width: 992px){
  .navbar .dropdown-menu {
   border: none;
  /* background-color: #10377a; */
  }}
  .circle {
      background-color: #F0F0F5;
      width: 26px; /* Adjust the width and height to your desired size */
      height: 26px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .image-inside-circle {
      max-width: 65%;
      max-height: 65%;
      display: block;
      margin: auto;
    }
    .EmployeeSelfService .nav-link:hover + .circle .image-inside-circle  {
          filter: invert(15%) sepia(51%) saturate(2926%) hue-rotate(207deg) brightness(96%) contrast(96%);
      }
      .nav-link {
          color: black;
      }
      .nav-link:hover + .circle .image-inside-circle,
      .circle .image-inside-circle:hover {
          filter: invert(15%) sepia(51%) saturate(2926%) hue-rotate(207deg) brightness(96%) contrast(96%);
      }

      .list-item {
      font-family: 'Hellix';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      color: #000000;
      padding-bottom:10px;
      }
      .content_about {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-align: right;
        color: #A4C5F4;
        text-decoration: none;
        padding-left: 20px;
        margin: auto; 
    }
      body {
        font-family: Hellix, Arial, sans-serif;
      }

      a {
        font-family: Hellix, Arial, sans-serif;
      }

      li{
        color: #000;
      }
      





      .video-wrapper {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        overflow: hidden;
      }
      
    
      

      
      .play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: transparent;
        border: none;
        color: #fff;
        font-size: 48px;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
        z-index: 1;
      }
      
      .play-button:hover {
        transform: translate(-50%, -50%) scale(1.2);
      }
      
      .video-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        
        height: 100%;
        display: none;
      }
      
      .video-player {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        position: relative;
        display: inline-block;
        --aspect-ratio: 16/9;
        
        /* -webkit-transform: scaleX(2); 
        -moz-transform: scaleX(2); */
      }

     
      .video-player::after {
        padding-top: 56.25%; /* 16:9 ratio - divide height by width and multiply by 100 */
        display: block;
        content: '';
      }
      
      .video-player>iframe{
        display:block;
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        left:0;
      }


      .nav-link{
        font-family: Hellix;
font-size: 22px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;


      }

      .center-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 234px;
        height: 73px;
        border-radius: 7px;
        margin: 0 auto; /* Add this line */
      }
      
      

   /* .video-container1 {
    
        width: 100%;
        padding-top: 56.25%;
        height: 0px;
        position: relative;
    }
    
    .video1{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    } */
      

   
      /* .video-wrapper {
        position: relative;
        display: inline-block;
        max-width: 100%;
        height: auto;
      }
      
      .gif-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        z-index: 1;
      }
      
      .video-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
      }
      
      .video-player {
        width: 100%;
        height: 100%;
      }
      
       */